/* Container */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,300&display=swap');

.container {
    min-height: 100vh;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  /* Navbar */
  .logo {
    position: absolute;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: capitalize;
    left:46%;
  }
  
   .logo a {
    color:rgb(233, 50, 50);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 5px 0px 8px rgb(225, 83, 83);
  }
  
   .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 70px;
    display: block;
    text-align: center;
  }
  
  /* User Icon */
  .user-icon {
    font-size: 40px;
    margin-left: 10px;
  }
  
  /* Main Content */
  .main-content {
    flex: 1;
    background-image: url("creative-mess-colorful-school-supplies-desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  
  }
  
  /* Login Form */
  .login-form {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    color: white;
    box-shadow: 10px 10px 15px rgb(173, 173, 158);  
  }
  
  
  /* Form Icon */
  .form-icon {
    color:rgb(233, 50, 50);
    font-size: 50px;
    margin-bottom: 18px;
    
  }
  
  /* Input Fields */
  .input-group {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    gap:10px;
    margin-bottom: 20px;
  }
  
  .input-group input {
    background: none;
    border-color: aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    width: 100%;
    letter-spacing: 1px;
   
  }
  
  .input-icon {
    color:rgb(233, 50, 50);
    font-size: 22px;
    
  }
  
  /* Login Button */
  .login-btn {
    
    background-color: rgb(233, 50, 50);
    color: rgb(250, 243, 243);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
   
  }
  
  /* Signup Link */
  .signup-link {
    margin-top: 10px;
  }
  
  .signup-link a {
    color:rgb(233, 50, 50);
    text-decoration:none;
    letter-spacing: 2px;
    word-spacing: 1px;
  }
  .foot{
    text-align: center;
  }